extends base.pug 

block scripts 
    script(src="/static/index.js")

block style 
    style 
        include ../static/style.css

block content 
        Section#introSection 
            div WELCOME TO HARRYS DANCE ACADEMY 
            div.small EAT SLEEP DANCE REPEAT 
        Section#missionSection 
            h2 Our Mission 
            div.card 
                h3 Dance perfection
                div.card-box
                    div.card-img
                        img(src="/static/img/111.png")
                    .card-content 
                        p You dance love, and you dance joy, and you dance dreams
            div.card 
                h3 Dance the way you like
                .card-box 
                    .card-img 
                        img(src="/static/img/222.png")
                    .card-content 
                        p Dancing is like dreaming with your feet
            div.card 
                h3 Expert teaching
                .card-box 
                    .card-img 
                        img(src="/static/img/333.png")
                    .card-content 
                        p Any kind of dancing is better than no dancing
        Section#sponsorSection
            h2 Our Sponsors 
            #sponsors 
                img(src="/static/img/logo1.png",alt="sponsor image",class="spImage")
                img(src="/static/img/logo2.png",alt="sponsor image",class="spImage")
                img(src="/static/img/logo3.png",alt="sponsor image",class="spImage")
                img(src="/static/img/logo4.png",alt="sponsor image",class="spImage")
        