h1{
    text-align: center;
    padding-top: 100px ;
    font-size: 80px;
    font-weight: bold;
    /* background-color: red; */
}

body{
    /* background-color: aquamarine; */
    background: url('/static/img/contactUs5.png') center center no-repeat;
    width: 100%;
    opacity: 0.9;
    padding: 100px auto;
}

.myForm{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 20px auto 60px auto;
 
}


.myInput{
    width: 50%;
    margin: 12px;
    padding: 9px;
    font-size: 15px;
    border: 2px solid black;
    outline:none;
    
}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}